<h2>Guests</h2>

<div>
  <% @guests.each do |guest| %>

  <div>
    <h3><a href="/guests/<%= guest.id %>"><%= guest.format_name %></a></h3>
    <h4>Room: <%= guest.room.room_name.capitalize %></h4>
  </div>

  <% end %>
</div>
