<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Luau Backpackers</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">

  </head>

    <nav>
      <li class="nav_menu"> <a href='/guests'> Home </a> </li>
      <li class="nav_menu"> <a href='/guests'> Guests </a> </li>
      <li class="nav_menu"> <a href='/guests/new'> Check In </a> </li>
    </nav>

    <body>

    <h1>Welcome to Luau Backpackers</h1>

    <img class="img_responsive" src='https://s22.postimg.cc/6lbmc1zdt/tropical_pic_1_large.jpg' alt='beach_image'>






    <%= yield %>

  </body>

</html>



<!-- FONTS  -->

<!-- https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans -->
