<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Luau Backpackers!</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <nav>
      <li> <a href='/guests'> Guests </a> </li>
      <li> <a href='/guests/new'> Check In Guest </a> </li>
    </nav>
    <h1>Welcome to Luau Backpackers!</h1>
    <%= yield %>

  </body>

</html>
