<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Luau Guest House</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">

  </head>

    <nav>
      <li class="nav_menu"> <a class="a_alternative" href='/'> Home </a> </li>
      <li class="nav_menu"> <a class="a_alternative" href='/guests'> Guests </a> </li>
      <li class="nav_menu"> <a class="a_alternative" href='/guests/new'> Check In </a> </li>
    </nav>

    <body>

    <h1>Welcome to Luau Guest House</h1>




    <%= yield %>
    <img class= "star_fish_repeat" src="/images/star_fish_repeat_V4.jpg" alt="star_fish_pattern" />
  </body>

</html>
