body {
  background-color: #45B8AC;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: white;
}















/* ------ COLOUR SCHEME ------ */

/* Scuba Blue #00B2CA */
/* Turquoise #45B8AC
/* Pink Yarrow #CE3175 */
/* Flame #F4512C */
/* Mimosa #EFC050 */
/* Blanc de Blanc #E9EAE8 */
