body {
  background-color: #E9EAE8;
}
/* BACKGROUND COLOUR */

.nav_menu {
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
  margin-top: 5pt;
  margin-left: 15pt;
  margin-bottom: 15pt;
}
/* PAGE NAVIGATION */

a {
  text-decoration: underline;
  color: #2D2926;
}
/* MORE NAV CUSTOM FEATURES */

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #45B8AC;
  font-size: 36pt;
  text-align: center;
  margin-bottom: 50pt;
}
/* PAGE GREETING */

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 23pt;
  color: #2D2926;
  text-align: left;
  margin-bottom: 45px;
  padding-left: 15px;
}
/* GUESTS & CHECK IN GUESTS TITLE */

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 17pt;
  text-align: left;
  padding-left: 15px;
}
/* GUEST NAMES */

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 17pt;
  color: #CE3175;
  text-align: left;
  margin-bottom: 70px;
  padding-left: 15px;
}
/* ROOM NAMES */



/* -------- FORM ELEMENTS -------- */

label{
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  display: block;
  margin-left: 15PX;
  margin-bottom: 5px;
}
/* NAMES OF FIELDS (ABOVE BOX) */

input, select {
  width: 20vw;
  height: 2vw;
  margin-bottom: 20px;
  margin-left: 15PX;
}
/* STANDARD INPUT FIELDS IN FORM */

.room_selector_label {
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  display: block;
  margin-left: 15PX;
  margin-bottom: 5px;
}
/* ROOM SELECTION FIELD LABEL (ABOVE BOX) */

.room_selection_field {
  font-family: 'Open Sans', sans-serif;
  color: #45B8AC;
  width: 20vw;
  height: 2vw;

}
/* ROOM SELECTION FIELD BOX */

.form_input_title {
  width: 10vw;
  height: 2vw;
}

.form_input_name {
  width: 20vw;
  height: 2vw;
}

.form_input_address {
  width: 35vw;
  height: 2vw;
}

.form_input_email {
  width: 25vw;
  height: 2vw;
}

.form_align {
  align-content: center;
}

.button {
  width: 12vw;
  height: 4.6vw;
  background-color: #45B8AC;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding-bottom: 5px;
}



.img_responsive {
  max-width: 100%;
}
/* MAKES THE IMAGE RESPONSIVE */





/* ------ COLOUR SCHEME ------ */

/* Scuba Blue #00B2CA */
/* Turquoise #45B8AC
/* Pink Yarrow #CE3175 */
/* Flame #F4512C */
/* Mimosa #EFC050 */
/* Primrose Yellow #F3CF55 */
/* Blanc de Blanc #E9EAE8 */
/* Black C #2D2926 */





























/* OTHER BITS AND PIECES */



/* form {
  font-family: 'Open Sans', sans-serif;
} */



/* .img_responsive {
  max-width: 100%;
} */



/* nav {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  display: inline-block;
/* } */



/* #postcode-field {
  width: 10vw;
} */
