/* -------- PAGE NAVIGATION -------- */

nav {
  background-color: #00B2CA;
}

.star_fish_repeat {
  max-width: 100%;

}

.nav_menu {
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
  padding-top: 5pt;
  margin-top: 5pt;
  margin-left: 30pt;
  margin-bottom: 15pt;
}
/* PAGE NAVIGATION */

a {
  text-decoration: underline;
  color: #2D2926;
}
/* PAGE (EG. IN NAV) LINK CUSTOM FEATURES */

.a_alternative {
  text-decoration: none;
  color: white;
}





/* -------- BODY & HEADINGS -------- */

body {
  background-color: #E9EAE8;
}
/* BACKGROUND COLOUR */

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #45B8AC;
  font-size: 40pt;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* PAGE GREETING */

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22pt;
  color: #FFFFFF;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 36px;
  padding-left: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* HEADINGS: CURRENT GUESTS, CHECK IN GUEST, GUEST DETAILS */

.h2_over_ride {
  background-color: #45B8AC;
  width: 16em;
}
/* BOX VISUAL APPLIED TO H2 HEADINGS */

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 17pt;
  text-align: left;
  padding-left: 25px;
}
/* GUEST NAMES IN INDEX */

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 17pt;
  color: #00B2CA;
  text-align: left;
  margin-bottom: 70px;
  padding-left: 25px;
}
/* ROOM NAMES IN INDEX */

h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 23pt;
  color: #2D2926;
  text-align: left;
  margin-bottom: 35px;
  padding-left: 25px;
}
/* GUESTS NAME IN SHOW */

h7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 17pt;
  font-weight: bold;
  color: #00B2CA;
  text-align: left;
  padding-left: 25px;
  margin-bottom: 5px;
}
/* ROOM NAME IN SHOW OVER RIDE */





/* -------- BUTTON ELEMENTS -------- */

.button {
  width: 12vw;
  height: 4.6vw;
  background-color: #45B8AC;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  /* border-radius: 10px; */
  padding-bottom: 5px;
}
/* CHECK IN BUTTON STYLING */

.check_out_button {
  width: 12vw;
  height: 4.6vw;
  background-color: #45B8AC;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  /* border-radius: 10px; */
  padding-bottom: 5px;
  display: inline-block;
}
/* CHECK OUT BUTTON */

.delete_button {
  width: 12vw;
  height: 4.6vw;
  background-color: #45B8AC;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
  margin-top: 30px;
  display: inline-block;
}
/* DELETE BUTTON STYLING */

.save_button {
  width: 12vw;
  height: 4.6vw;
  background-color: #45B8AC;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}
/* SAVE BUTTON STYLING */

.button_inline {
  list-style-type: none;
  display: inline-block;
  padding-left: 0px;
}
/* ALIGNS BUTTONS ACCROSS THE PAGE */

.ul_styling {
  padding-left: 1px;
}
/* TAKES THE AUTO IDENT OFF THE UNORDERED LIST */





/* -------- OTHER ELEMENTS -------- */

#edit_link {
  width: 9vw;
  height: 4.6vw;
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  color: #676B69;
  margin-left: 15pt;
}
/* EDIT LINK STYLING */

.guest_list_group {
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 3px;
  margin-bottom: 0px;
}
/* CURRENT GUESTS GROUP */

.guest_show_group {
  background-color: #FFFFFF;
  margin-top: 5px;
  padding-top: 0.5px;
  padding-bottom: 3px;
  margin-bottom: 0px;
}
/* SHOW GUEST GROUP */

.img_responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  align-content: center;
  margin: auto;
  margin-bottom: 15px;
}
/* MAKES THE IMAGE RESPONSIVE */





/* -------- FORM ELEMENTS -------- */

label{
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  color: #2D2926;
  display: block;
  margin-left: 25PX;
  margin-bottom: 5px;
}
/* NAMES OF FIELDS (ABOVE BOX) */

input, select {
  width: 20vw;
  height: 2vw;
  margin-bottom: 20px;
  margin-left: 25PX;
}
/* STANDARD INPUT FIELDS IN FORM */

.room_selector_label {
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  display: block;
  margin-left: 25PX;
  margin-bottom: 5px;
}
/* ROOM SELECTION FIELD LABEL (ABOVE BOX) */

.room_selection_field {
  font-family: 'Open Sans', sans-serif;
  color: #45B8AC;
  width: 15em;
  height: 2em;

}
/* ROOM SELECTION FIELD BOX */

.form_input_title {
  width: 9em;
  height: 2em;
}

.form_input_name {
  width: 15em;
  height: 2em;
}

.form_input_address {
  width: 30em;
  height: 2em;
}

.form_input_email {
  width: 11em;
  height: 2em;
}

.form_block {
  background-image: url(/images/tropical_fish_with_background_scuba_blue.jpg);
  background-size: 150%;
  background-position: bottom;
  padding-top: 25px;
  background-repeat: no-repeat;
  background-color: white;
}





/* ------ COLOUR SCHEME ------ */

/* Scuba Blue #00B2CA */
/* Turquoise #45B8AC
/* Pink Yarrow #CE3175 */
/* Flame #F4512C */
/* Mimosa #EFC050 */
/* Primrose Yellow #F3CF55 */
/* Blanc de Blanc #E9EAE8 */
/* Black C #2D2926 */
/* RAISIN BLACK #252220 */
/* DIM GREY #676B69 */
/* SMOKE #787D7A */
/* WHITE #FFFFFF  */
/* SNOW #FAFAFA */
