<h2 class="h2_guests_over_ride">Current Guests</h2>

<div class= "guest_list_group">
  <% @guests.each do |guest| %>

  <div>
    <h3><a href="/guests/<%= guest.id %>"><%= guest.format_name %></a></h3>
    <h4>Room: <%= guest.room.room_name.capitalize %></h4>
  </div>

  <% end %>
</div>
