<h2> Check in Guest </h2>

<form method="POST" action="/guests">
  <div class="form_block">


    <div>
      <label for="title"> Title: </label>
      <input class="form_input_title" type="text" name="title" id="title"/>
    </div>

    <div>
      <label for="first_name"> First Name: </label>
      <input class="form_input_name" type="text" required name="first_name" id="first_name"/>
    </div>

    <div>
      <label for="surname"> Surname: </label>
      <input class="form_input_name" type="text" required name="surname" id="surname"/>
    </div>

    <div>
      <label for="address"> Address: </label>
      <input class="form_input_address" type="text" name="address" id="address"/>
    </div>

    <div>
      <label for="city"> City: </label>
      <input class="form_input_address" type="text" name="city" id="city"/>
    </div>

    <div>
      <label for="country"> Country: </label>
      <input class="form_input_name" type="text" name="country" id="country"/>
    </div>

    <div>
      <label for="postcode"> Postcode: </label>
      <input class="form_input_title" type="text" name="postcode" id="postcode"/>
    </div>

    <div>
      <label for="email"> Email: </label>
      <input class="form_input_email" type="text" name="email" id="email"/>
    </div>

    <div>
      <label class="room_selector_label" for="room_select"> Select Room: </label>
      <select class="room_selection_field" name="room_id" id="room_select">
        <% @rooms.each do |room| %>
          <option value= <%= room.id %> > <%= room.room_name.capitalize %> </option>
          <% end %>
        </select>
    </div>

    <div>
      <input class="button" type="submit" value="Check in "/>
    </div>


  </div>
</form>























<!-- <div>
  <label for="postcode"> Postcode: </label>
  <input id="postcode-field" type="text" name="postcode" id="postcode"/>
</div> -->
