<h2> Check in Guest </h2>

<form method="POST" action="/guests">
  <div>


    <div>
      <label for="title"> Title: </label>
      <input type="text" name="title" id="title"/>
    </div>

    <div>
      <label for="first_name"> First Name: </label>
      <input type="text" required name="first_name" id="first_name"/>
    </div>

    <div>
      <label for="surname"> Surname: </label>
      <input type="text" required name="surname" id="surname"/>
    </div>

    <div>
      <label for="address"> Address: </label>
      <input type="text" name="address" id="address"/>
    </div>

    <div>
      <label for="city"> City: </label>
      <input type="text" name="city" id="city"/>
    </div>

    <div>
      <label for="country"> Country: </label>
      <input type="text" name="country" id="country"/>
    </div>

    <div>
      <label for="postcode"> Postcode: </label>
      <input type="text" name="postcode" id="postcode"/>
    </div>

    <div>
      <label for="email"> Email: </label>
      <input type="text" name="email" id="email"/>
    </div>

    <div>
      <label for="room_select"> Select Room: </label>
      <select name="room_id" id="room_select">
        <% @rooms.each do |room| %>
          <option value= <%= room.id %> > <%= room.room_name.capitalize %> </option>
          <% end %>
        </select>
    </div>

    <div>
      <input type="submit" value="Check in Guest"/>
    </div>


  </div>
</form>
